## backups
*.*~
*.bak

## coq 
*.v.d
*.glob
*.vo
*.vo.aux

##ocaml 
_build/
extraction/*.ml
extraction/*.mli
extraction/STAMP
.basic.aux
.bop_full_reduce.aux
.brel_reduce.aux
.facts.aux
.predicate_reduce.aux
.predicate_reduce_disjoint.aux
.product.aux
.properties.aux
.reduce_annihilators.aux
.reduce_annihilators_redux.aux
.reduce_annihilators_semigroup.aux
.reduced_semigroup_direct.aux
.reduction_theory.aux
.rsemigroup.aux
.simple_examples.aux
.structures.aux
