## backups
*.*~
*.bak

## coq 
*.v.d
*.glob
*.vo
*.vo.aux
.*.*

dissertation/*.aux
dissertation/*.bbl
dissertation/*.blg
dissertation/*.dvi
dissertation/*.log
dissertation/*.toc

##ocaml 
_build/
extraction/*.ml
extraction/*.mli
extraction/STAMP
